body {
    background: #ED4118;
    font: bolder 14.1pt Helvetica;
}

header {
    margin-top: 4%;
    margin-bottom: -2%;
    color: white;
    text-align: center;
    text-shadow: 4px 2px 6px rgba(0, 0, 0, 1);
}

section {
    background: #4400ff;
    border-radius: 10px;
    padding: 20px;
    width: 465px;
    margin: auto;
    margin-top: 4%;
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.5);
}

footer {
    margin-top: 3%;
    color: white;
    text-align: center;
    font-style: italic;
    text-shadow: 4px 2px 6px rgba(0, 0, 0, 1);
}

.fonte {
    color: white;
}

.botao {
    margin-top: 10%;
    width: auto;
    height: auto;
    text-align: center;
}

#botao1 {
    background-color: white;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    border: 0.1px solid black;
}

.usuario {
    border-radius: 2px;
    border: none;
    height: 20px;
    width: 120px;
}

#res {
    color: white;
    margin: 10%;
    margin-bottom: 3%;
}